/* 
    Created on : 23-apr-2015, 16:27:13
    Author     : JPKirschner

    KING OF PARAMETRIC 3D PRINTING DESIGN
*/

@charset "utf-8";
/* CSS Document */


body, div, img {
    margin: 0;
    padding: 0;
}

body, html{
    overflow: auto;
}

img {
    margin-bottom: 10px;
}

p {
    font-family: 'Source Sans Pro', serif;
    margin: 10px;
    padding: 10px;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: black;
    font-family: 'Source Sans Pro', serif;
}


/* Top Container
---------------------------------------*/

.top_image {
    top: 0;
    width : 100%;
}

.top_text_container {
    background-color: white;
    left: 65%;
    position: absolute;
    top:0;
}

.page_title {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    font-size: 400%;
}

.top_text {
    font-size: 120%;
    text-align: left;
    vertical-align: top;
    width: 330px;
}

/* Product Container
---------------------------------------*/
.product_holder{
    position: relative;
}

.product_image {
    position: relative;
    width : 100%;
}

.product_text_container {
    background-color: white;
    position: absolute;
    top:-1px;
}

.product_title{
    color:grey;
    display: inline-block;
    font-family: 'Source Serif Pro', serif;
    font-size: 200%;
    margin-top: 1px;
    margin-bottom: 2px;
}

.selectable{
    color: black;
}

.product_price{
    font-size: 55%;
}

.product_text {
    font-size: 110%;
}

.product_form {
    overflow:hidden;
    -webkit-transition: height 0.35s;
    -moz-transition: height 0.35s;
    -o-transition: height 0.35s;
    transition: height 0.35s;
}

.noHeight {
    height: 0px !important;
    -webkit-transition: height 0.35s ease-in-out;
    -moz-transition: height 0.35s ease-in-out;
    -o-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
}

/* Product Specific Container
---------------------------------------*/

.download_container {
    left: 35%;
}

.diy_container {
    left: 2%;
    max-width: 28%;
}

.lamp_container{
    left: 55%;
    max-width: 40%; 
}

/* Bottom Container
---------------------------------------*/

.bottom {
    background-color: white;
    bottom: 0;
    height: 50px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.mail {
    margin-top: 10px;
}

.name {
    margin: 0;
    padding: 0;
} 

/* When Small
---------------------------------------*/

.top_text_container_small{
    left: 0;
    position: relative;
    text-align: center;
}

.top_text_small{
    display:inline-block;
}
